<div class="header">
  <h1><b>Accounts</b></h1>
</div>

{{#if accounts.length}}
        <ul>
            {{#each accounts}}
                   <li id="list"><a href="/accounts/{{id}}">{{username}}, {{email}}</a></li>
            {{/each}}
        </ul>
{{else}}
     <p>There are no guestposts:(</p>    
{{/if}} 
