<h1 style="text-align: center;" class="p-1" ><b>BLOGZO</b></h1>

<div class="container-lg col-md-3">
    <a href="login" class="m-3 btn btn-outline-primary btn-lg col align-self-center">login</a>
    <a href="" class="m-3 btn btn-outline-primary btn-lg col align-self-center">Sign up</a>
    <a href="" class="m-3 btn btn-outline-primary btn-lg col align-self-center">Continue as guest</a>
</div><br>

