<link rel="stylesheet" href="/css/login.css">

<h6 style="text-align: center;"><b>Are you sure you want to logout?</b></h6>

<form class="form-horizontal col-10" action="/logout" method="POST">
    <input type="submit" id="yes" value="Yes" class="btn btn-primary">
</form>