<head>
	<script src="validationSignUp.js"></script>
</head>
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Back</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <main class="login-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Sign up</div>
                        <div class="card-body">
                            <form id="signUpForm" action="/signup" method="POST">

                                <div class="form-group row">
                                    <label for="email_address" class="col-md-4 col-form-label text-md-right">Username</label>
                                    <div class="col-md-6">
                                        <input type="text" id="username" placeholder="Username" class="form-control" name="username" required autofocus>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email_address" class="col-md-4 col-form-label text-md-right">Email Address</label>
                                    <div class="col-md-6">
                                        <input type="email" id="email_address" placeholder="Email" class="form-control" name="email" required autofocus>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password (5-15)</label>
                                    <div class="col-md-6">
                                        <input type="password" id="password" placeholder="Password" class="form-control" pattern=".{5,15}" name="userPassword" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Re-enter password</label>
                                    <div class="col-md-6">
                                        <input type="password" id="rePassword" placeholder="Password" class="form-control" pattern=".{5,15}" name="password" required>
                                    </div>
                                </div>

                                <div class="col-md-6 offset-md-4">
                                <input type="submit" id="submit" value="Sign up" class="btn btn-primary">
                                </div>
                            </form>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </main>
